@use '../abstracts/variables';
@use '../abstracts/mixins';

footer {
  margin-top: 6rem;
  background: variables.$Black;
  padding: 5rem;
  @include mixins.flexDirection(column);
  align-items: center;
  gap: 4rem;

  .content-list {
    ul {
      @include mixins.flexDirection(column);
      gap: 2rem;

      li {
        text-align: center;

        a {
          color: variables.$White;
          font-size: 1.4rem;
          font-family: variables.$Alata;
        }
      }
    }
  }

  .content-list-socialMedia {
    @include mixins.flexDirection(column);
    align-items: center;
    gap: 3rem;

    ul {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    p {
      font-size: 1.2rem;
      color: variables.$Dark-Gray;
      font-family: variables.$Josefin;
      font-weight: bold;
    }
  }
}

// Desktop

@media (min-width: 1024px) {
  footer {
    @include mixins.flexDirection(row);
    justify-content: space-between;
    padding-inline: 10rem;

    .content-list {
      ul {
        margin-top: 2rem;
        @include mixins.flexDirection(row);
        gap: 2rem;

        li {
          text-align: center;

          a {
            color: variables.$White;
            font-size: 1.4rem;
            font-family: variables.$Alata;
            position: relative;

            &::after {
              content: ' ';
              position: absolute;
              width: 100%;
              height: .4rem;
              background: variables.$White;
              bottom: -1rem;
              left: 0;
              transition: .4s ease-in-out;
              transform: scaleX(0);
            }

            &:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    .content-list-socialMedia {
      align-items: end;

      ul {
        li {
          position: relative;

          &::after {
            content: ' ';
            position: absolute;
            width: 100%;
            height: .4rem;
            background: variables.$White;
            bottom: -1rem;
            left: 0;
            transition: .4s ease-in-out;
            transform: scaleX(0);
          }

          &:hover::after {
            transform: scaleX(1);
          }

        }
      }
    }
  }

}